{{ ansible_managed | comment }}
[Unit]
Description=Renew ACME certificates
Documentation=https://go-acme.github.io/lego/
Requires=network-online.target
After=network-online.target

[Service]
User={{ lego_user }}
Group={{ lego_group }}
ReadWritePaths={{ lego_home }}
WorkingDirectory={{ lego_home }}
Environment=LEGO_PATH="{{ lego_home }}"
ExecStart=/usr/local/bin/lego
PrivateTmp=true
ProtectHome=true
ProtectControlGroups=true
ProtectSystem=strict
{% if lego_deploy_hooks | selectattr('name', 'search', '^sudo-.*') | length == 0 %}
PrivateDevices=true
ProtectKernelModules=true
ProtectKernelTunables=true
{% endif %}
